{% extends "base.html" %}
{% block title %}signup page{% endblock title %}
{% block style %}
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .wrapper{
        border: ridge;
        padding: 7rem 0.5rem;
    }
    .b{
        position: relative;
        margin-left: 4rem;
    }
    input{
        width: 250px;
        height: 30px;
        border: ridge;
    }
    .c{
        position: relative;
        margin-top: -80px;
        margin-bottom: 30px;  
    }
    button{
        width: 250px;
        height: 30px;
        background-color: steelblue;
        color: white;
        font-weight: 700;
    }
    .d{
        margin-left: 4rem;
    }
    .e{
        margin-left: 4rem;
        margin-top: 1rem;
    }
    .g{
        width: 6rem;
        margin-left: 0rem;
        margin-top: 1.5rem;
    }
    .h{
        margin-top: -10.7px;
        width: 6rem;
        margin-left: 12.5rem;
    }
    .f{
        margin-left: 6.6rem;
        margin-top: -17px;
    }
</style>
{% endblock style %}
{% block body %}
<div class="wrapper">
<form  method="post" class="box">
    {% csrf_token %}
    {% load static %}
    <div class="c">
    <img src="{% static "instafont.png" %}" alt="">
    </div>
    <div class="b">
        <input type="text" name="name"  placeholder="Name" ><br><br>
    </div>
    <div class="b">
        <input type="number" name="mobile"  placeholder="Mobile" ><br><br>
    </div>
    <div class="b">
        <input type="email" name="email"  placeholder="Email" ><br><br>
    </div>
    <div class="b">
        <label>Male/Female</label><br>
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" value="male" ><br>
        <label for="female">Female</label>
        <input type="radio" name="gender" id="Female"  value="female" >
    </div>
    <div class="b">
        <input type="date" name="dob"  placeholder="Email" ><br><br>
    </div>
    <div class="b">
    <input type="text" name="username" id="username" placeholder="Username" ><br><br>
    </div>
    <div class="b">
    <input type="password" name="password" id="password" placeholder="Password" ><br><br>
    </div>
    <div class="b">
    <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" > <br><br>
    </div>
    <div class="d">
    <button>Sign Up</button>
    <hr class="g"><div class="f">OR</div></div><hr class="h">
    
   
</form>
<div class="e">
    <a href="{% url "signinpage" %}">
        <button>Log in</button>
    </a>
</div>
</div>

{% endblock body %}